.orb {
  .orb-table {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    table {
      cellspacing: 0;

      th {
        font-size: 1em;
      }
      tr {
        font-size: 0.8em;
      }
    }

    .dataTables_scroll {
      padding: 0;
      border: 1px solid #ccc;
    }

    .dataTables_wrapper {
      .row:nth-child(2) {
        .col-sm-12 {
          padding: 0;
          overflow-x: auto;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
    }
  }
}